*{
  margin: 0;
  box-sizing: Border-box;
}
/*always pu thisat the beginning of a stylesheet*/

image{
  width: 200px;
  height: 200px;
}

.brand{
  float: left;
}

ul.gnb> li{
  float: right;
  padding left: 20px;
}
